{# Plantilla de la aplicación #}
{% extends 'base.html.twig' %}
{# Titulo #}
{% block titulo %}
    Categoria
{% endblock %}
{# CONTENIDO #}
{% block contenido %}
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Categoria</h1>

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-8">
          <img class="img-fluid" src="{{asset(servicioImg~categoria.foto)}}" alt="">
        </div>

        <div class="col-md-4">
          <h3 class="my-3">{{categoria.nombre}}</h3>
          <p>{{categoria.descripcion}}</p>
        </div>

      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

{% endblock %}